.content-wrapper.max-width
    .container-fluid
        p.
            The reason I make these videos is simply to help better people's lives. Sometimes when you're feeling down, stressed or just bored with every day routines, a simple funny video can make such a positive difference in your attitude and it makes me so happy when people tell me these videos have done just that for them so to all those people who have enjoyed being here, thank you and you're forever welcome!