header
    nav.navbar.navbar-default.navbar-fixed-top
        .max-width
            .navbar-header
                button.navbar-toggle(type='button' data-toggle='collapse' data-target='.navbar-responsive-collapse')
                    span.mdi-navigation-menu
                a.navbar-brand(href='#') SNAKE
            .navbar-collapse.collapse.navbar-responsive-collapse
                ul.nav.navbar-nav
                    li#about-button: a About
                    li#youtube-button: a YouTube
                    li#hitbox-button: a Hitbox
                    li#twitter-button: a Twitter
