extends layout.jade

block content
    section.block#landing
        img#landing-heading(src='../images/landing_header.svg' alt='My horror is your comedy')
    section.division#landing-division
    section.block#about
    section.division#about-division
    section.block#youtube
    section.division#youtube-division
    section.block#hitbox
    section.division#hitbox-division
    section.block#twitter
    section.division#twitter-division