doctype html
html(ng-app)
   head
       title Pyschadelic Snake
       meta(name='viewport' content='width=device-width,initial-scale=1')
       meta(name='description' content='Pyschadelicsnake fansite.')
       meta(name='keywords' content='youtube, hitbox, twitter, pyschadelicsnake, snake, stream')
       link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Nunito|Roboto|Open+Sans')
       link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min' +
       '.css')
       link(rel='stylesheet' type='text/css' href='/bower_components/bootstrap-material-design/dist/css/ripples.css')
       link(rel='stylesheet' type='text/css'
       href='/bower_components/bootstrap-material-design/dist/css/material-wfont.css')
       link(rel='stylesheet' type='text/css' href='/stylesheets/layout.css')

   body
       include header
       block content
       include footer

       // Scripts
       script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
       script(type='text/javascript' src='/bower_components/angular/angular.js')
       script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
       script(type='text/javascript' src='/bower_components/bootstrap-material-design/dist/js/ripples.min.js')
       script(type='text/javascript' src='/bower_components/bootstrap-material-design/dist/js/material.min.js')
       script(type='text/javascript' src='/javascripts/main.js')
       script(type='text/javascript').
           window.Scrolling.init();
           init();
