.content-wrapper.max-width
    .container-fluid
        .row
            .col-sm-6
                img#twitter-logo.center-block(src='../images/twitter_logo.svg' alt='twitter')
            .col-sm-6.content-text
                h1 Keep in touch.
                p.
                    Updates, straight from the horse's mouth. Musings and an alert whenever the live stream goes, well,
                    live.
                a.btn.btn-default.btn-primary#twitter-button(href='javascript:void(0)') Twitter