.content-wrapper.max-width
    .container-fluid
        .row
            .col-sm-6
                img#youtube-logo.center-block(src='../images/youtube_logo.svg' alt='youtube')
            .col-sm-6.content-text
                h1 Where it all began.
                p.
                    Scares, laughs, and heartfelt endings. Check out my YouTube channel with walkthroughs ranging from
                    from Final Fantasy to Fatal Frame.
                a.btn.btn-default.btn-primary#youtube-button(href='javascript:void(0)') YouTube