red = #F44336
pink = #E91E63
purple = #9C27B0
deep_purple = #673AB7
indigo = #3F51B5
blue = #2196F3
light_blue = #03A9F4
cyan = #00BCD4
teal = #009688
green = #4CAF50
yellow = #FFEB3B
orange = #FF9800
deep_orange = #FF5722
blue_grey = #607D8B
black = #222222
white = #eeeeee